.app-header {
  padding: 15px;
  background: #f5f9ff;
  border-bottom: 1px solid #eee;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  font-size: 22px;
  font-weight: bold;
}

.status-icons {
  display: flex;
  gap: 5px;
}
