.tab-container {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  border-bottom: 1px solid #eee;
  background-color: #f5f9ff;
  margin-top: 64px; // 为header留出空间
}

.tab {
  margin-right: 20px;
  font-size: 18px;
  color: #333;
  font-weight: 500;
  cursor: pointer;
}

.tab.active {
  color: #1e88e5;
  font-weight: bold;
}

.profile-icon {
  margin-left: auto;
  font-size: 20px;
  cursor: pointer;
}
